################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SIS-MvcFramework/src/.vs
/SIS-MvcFramework/src/Apps/CakesWebApp/obj
/SIS-MvcFramework/src/Apps/CakesWebApp/bin
/SIS-MvcFramework/src/Apps/CakesWebApp/bin
/SIS-MvcFramework/src/Apps/CakesWebApp/obj
/SIS-MvcFramework/src/SIS.HTTP/Common/Configuration.cs
/SIS-MvcFramework/src/SIS.WebServer/obj
/SIS-MvcFramework/src/SIS.MvcFramework.Tests/bin
/SIS-MvcFramework/src/SIS.MvcFramework.Tests/obj
/SIS-MvcFramework/src/SIS.MvcFramework/bin
/SIS-MvcFramework/src/SIS.MvcFramework/obj
/SIS-MvcFramework/src/SIS.HTTP/obj
/SIS-MvcFramework/src/SIS.HTTP/bin
/SIS-MvcFramework/src/Apps/CakesWebApp/bin
/SIS-MvcFramework/src/Apps/CakesWebApp/obj
/SIS-MvcFramework/src/Apps/IRunesWebApp/obj
/SIS-MvcFramework/src/Apps/IRunesWebApp/bin
/SIS-MvcFramework/src/Mish-Mash-Exam/bin/Debug/netcoreapp2.1
/SIS-MvcFramework/src/Mish-Mash-Exam/obj
