<h1 class="all-h1-black">Create Album</h1>
<div class="top-border-line primary-separator w-50"></div>
<form class="w-50" role="form" id="create-form" method="post" action="/create">
    <div class="form-group w-25">
        <label for="name" class="all-h1-black">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group w-25">
        <label for="cover" class="all-h1-black">Cover</label>
        <input type="url" name="cover" class="form-control" id="cover" placeholder="Cover">
    </div>
    <div class="text-left">
        <button class="btn btn-success" type="submit">Create</button>
    </div>
</form>
<div class="top-border-line primary-separator w-50"></div>
